@charset "UTF-8";

/* Layout (global rules for all sizes) */

body { margin: 0px; padding: 0px; }
header a.logo { display: block; position: absolute; background-position: 0px 0px; background-repeat: no-repeat; }
nav {
	width: 100%;
	display: block;
	position: absolute;
}

/* Layout Large Screens (default for older browsers) */


.col1 { width: 31.96969696969697%; margin: 0px 0px 0px 2.02020202%; }
.col2 { width: 31.96969696969697%; margin: 0px 0px 0px 2.02020202%; }
.col3 { width: 31.96969696969697%; margin: 0px 0px 0px 2.02020202%; }


nav { top: 75px; }
nav a { margin: 12px 0px 10px 20px; }


@media screen and (max-width: 990px) {
	footer { padding-left: 20px; }
}

.bodytext {
text-align:justify; column-width: 

}