@charset "UTF-8";

/* Layout Small Screens */




.container {width:320px;margin:auto;}

.col1, .col2 {width:100%; margin-bottom:10px;}

article { padding: 20px 20px 10px 20px; }

nav {
	display: block;
	position: static;
	/*clear:both;*/
	padding: 10px 0px 10px 0px;
}

nav a {
	color: #a6abc5;
	display: block;
	margin: 15px;
	padding: 9px;
	border: 1px solid #a6abc5;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}





.chart_data img {width:97%; margin:1.5%;}

